<!DOCTYPE html>
<html>
  <head>
    <% include ../includes/header.ejs %> 
    <% switch(style) { case 'red': %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main-red.css" />
    <% break; case 'blue': %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main-blue.css" />
    <% break; case 'green': %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main-green.css" />
    <% break; } %>    
  </head>

  <body>
    <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1><%= title %></h1>
        <p>This is the placeholder for Team Activity 05</p>
      </div>
    </div>
    <div class="container">
        <p><%= counter %></p>
        <form action="counter-increment" method="POST">
          <button type="submit">Increase</button>
        </form>

         <form action="counter-decrement" method="POST">
          <button type="submit">Decrease</button>
        </form>
    </div>
  </body>
</html>
